<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.chain.dao.ChainUsers_typesMapper">
  <resultMap id="BaseResultMap" type="com.qw.chain.bean.ChainUsers_types">
    <id column="c_userstypes_id" jdbcType="INTEGER" property="c_userstypes_id" />
    <result column="c_userstypes_name" jdbcType="VARCHAR" property="c_userstypes_name" />
  </resultMap>
  
  <sql id="zd">
	 	c_userstypes_id,c_userstypes_name
  </sql>
  
  
  <select id="selectTypes" parameterType="com.qw.chain.bean.ChainUsers_types" resultMap="BaseResultMap" >
    select <include refid="zd"/>
	from chainusers_types
  </select>


</mapper>