<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
<h1>注册</h1>
<h1><a href="{% url 'blog:index' %}">回到主页</a></h1>

{# action   当前本页的网址#}
<form action="" method="POST">

{% csrf_token %}
    <p>
        <label for="id_username">用户名:</label>
        <input type="text" name="username" maxlength="150" autofocus required
               id="id_username">
        <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>
    </p>
        {%  if reg.errors.username %}
            <p>用户名已存在</p>
            {{ reg.errors.username }}
        {% endif %}
    <p>
        <label for="id_password1">密码:</label>
        <input type="password" name="password1" required id="id_password1">
        <span class="helptext">
            <ul>
                <li>你的密码不能与其他个人信息太相似。</li>
                <li>你的密码必须包含至少 8 个字符。</li>
                <li>你的密码不能是大家都爱用的常见密码。</li>
                <li>你的密码不能全部为数字。</li>
            </ul>
        </span>
    </p>
    <p>{{ reg.errors.password1 }}</p>
    <p><label for="id_password2">密码确认:</label>
        <input type="password" name="password2" required id="id_password2">
        <span class="helptext">为了校验，请输入与上面相同的密码。</span>
    </p>
    <p>{{ reg.errors.password2 }}</p>
    <p>
        <label for="id_email">电子邮件地址:</label>
        <input type="email" name="email" maxlength="254" id="id_email">
    </p>
    <p>{{ reg.errors.email }}</p>
    <p>
        <label for="id_nicheng">昵称:</label>
        <input type="text" name="nicheng" maxlength="50" id="id_nicheng">
    </p>
    <p>{{ reg.errors.nicheng }}</p>
    <p>
        <label for="id_birthday">生日:</label>
        <input type=date name="birthday" id="id_birthday">
    </p>
    <p>{{ reg.errors.birthday }}</p>
    <p>{{ reg.captcha}}</p>
    <p>{{ reg.errors.captcha}}</p>
    <button type="submit">注册</button>
</form>


</body>

<script type="text/javascript">
    $('.captcha').click(function(){
        console.log('click');
         $.getJSON("/captcha/refresh/",
                  function(result){
             $('.captcha').attr('src', result['image_url']);
             $('#id_captcha_0').val(result['key'])
          });
});

</script>
</html>